@import url('https://fonts.cdnfonts.com/css/amazon-ember');
*{
    margin: 0;
    padding: 0;
    border: border-box ;
    font-family: 'Amazon Ember', sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 110px;
}

.logo{
    background-image: url("Image/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1px solid white;
}

/* box2 */

.add-first{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 20px;
}

.add-second{
    font-size: 1rem;
    margin-left: 5px;
    font-weight: bolder;
}

.add-icon{
    display: flex;
    align-items: center;
}

img{
    height: 18px;
    width: 15px;
}